@font-face {font-family: 'BebasNeue-Regular';src: url('../webfonts/3A8F64_0_0.eot');src: url('../webfonts/3A8F64_0_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/3A8F64_0_0.woff2') format('woff2'),url('../webfonts/3A8F64_0_0.woff') format('woff'),url('../webfonts/3A8F64_0_0.ttf') format('truetype');}
@import url('https://fonts.googleapis.com/css?family=Gothic+A1&display=swap');

body{
	margin:0px;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: 'Gothic A1', sans-serif;
	color:white;
	background-color: #0F0C29;
}
#header {
    overflow: hidden;
    height:100vh;
	background-image: linear-gradient(to left, rgba(15, 12, 41, 1), rgba(48, 43, 99, 0.76)), url('../img/bg.png');
	background-position: center;
	background-size: cover;
    -webkit-background-size:cover;
}
#wrap {
    height: 500px;
    width: 750px;
    margin:0px auto;
    position:absolute;
    top:50%;
    left:50%;
    margin-top:-200px;
    margin-left:-375px;
}

h1{
	font-family: BebasNeue-Regular;
}
h3{
	font-size: 20px;
	color: white;
	font-weight: 600;
	margin-top: 10px;
}
.title{
	font-size: 100px;
	color: white;
	margin-bottom: 0px;
}
.mediumtitle{
	font-size: 65px;
	color: white;
	margin-bottom: 0px;
}
.smalltitle{
	font-size: 45px;
	color: white;
	margin-bottom: 0px;
}
.tinytitle{
	font-size: 30px;
	color: white;
	font-family: BebasNeue-Regular;
}
.tinytitlelight{
	font-size: 30px;
	color: white;
	margin-bottom: 0px;
	font-family: BebasNeue-Regular;
}
.tinytitledark{
	font-size: 18px;
	color: #302B63;
	margin-bottom: 0px;
	font-family: BebasNeue-Regular;
}
.tinytitledarker{
	font-size: 18px;
	color: #0F0C29;
	margin-bottom: 0px;
	font-family: BebasNeue-Regular;
}
.footertext{
	font-family: BebasNeue-Regular;
}
.break{
	background-color:#302B63;
	height: 1px;
	width: 100%;
}
.form-style{
	border-radius: 5px;
	padding: 0px 10px 0px 10px;
	border: none;
	height: 40px;
}
.form-button{
	border-radius: 5px;
	background-color: #FA9C1D;
	color: white;
	border:none;
	height: 40px;
	width: 40px;
	transition: 0.2s;
}
.form-button:hover{
	color: #423b8a;
	background-color: white;
	cursor:pointer;
}
.theme-button{
	border-radius: 5px;
	background-color: #302B63;
	color: white;
	border:none;
	transition: 0.2s;
}
.theme-button:hover{
	color: white;
	background-color: #423b8a;
	cursor:pointer;
}

.round{
	border-radius: 100px;
	border: 3px white solid;
	margin-top: 12px;

}
a{
	text-decoration: none;
	color: white;
}
a:hover{
	text-decoration: none;
	color: white;
}

.square{
	background: #302B63;
    min-width:100%;
    padding: 0px 0px 30px 0px!important;
    height: 155px;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
}
.square:hover{
	-webkit-transform: scale(1.08);
  	transform: scale(1.08);
}

.middle{
	margin-top:29px
}

.icon{
	color: #FA9C1D; 
}

.table-theme{
	width: 100%;
	margin-bottom: 1rem;
	color: #FFF;
	cursor: default;
}
.table-theme, tr{
	border-bottom: 1px solid #302B63;
}
.table-theme, th {
	padding: 10px 0px 10px 0px;
}
.table-theme, td{
	font-family: BebasNeue-Regular;
}
.heroImage{
	width: 50px;
	padding: 10px 0px 10px 0px;
}
.footer{
	padding: 25px 0px 35px 0px
}
.bar{
	height: 5px;
	width: 100%;
	background-color: #302B63; 
}